@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-transition: .4s;
}

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(255 255 255);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--scrollbar-bg, auto);
    background:rgb(202, 219, 228);
}

.buttons {
    padding: .6rem 2rem;
    font-weight: 600;
}

/* header */
.navbar {
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04) !important;
    padding: 1rem 0rem;
}

button a {
    text-decoration: none;
    color: #e52f37;
}

button a:hover {
    text-decoration: none;
    color: #fff;
}

.navbar i {
    color: #e52f37;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.navbar .navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #e52f37;
}

.navbar-collapse ul li a {
    color: #071e55;
    font-size: 17px !important;
    line-height: 30px !important;
    padding: 10px 15px !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

}

.navbar-collapse ul li a:hover {
    color: #e52f37;
}

.navbar button {
    padding: .6rem 2rem;
    font-weight: 600;
}

/* header */

/* home-section */
.home {
    background: #e8f3f9;
}

.home h2 {
    line-height: 1.2;
    color: #252525;
    font-size: 43px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.home p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #252525;
}

.home button {
    padding: 1rem 1rem;
    font-weight: 600;
}

#input-newsletter {
    padding: 1rem 3.1rem;
    border-radius: 30px 30px;
    color: #454545;
    font-size: 17px;
    margin: 0 10px 20px 0;
}

.home img {
    max-width: 100%;
    transition: var(--main-transition);
}

.home img:hover {
    opacity: .9;
}

/* about */
.about h2 {
    color: #071e55;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.about p {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

/* about */
.about .card {
    border: transparent;
    transition: var(--main-transition);
}

.about .card:hover {
    transform: scale(1.025);
    transition: all 1s;
}

.about h4 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    color: #071e55;
    letter-spacing: 1px;
}

.about .card-text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}


.about .high-pic {
    margin-bottom: 15px;
    display: inline-block;
    padding: 16px 16px;
    font-size: 40px;
    line-height: 46px;
    width: 75px;
    height: 75px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #1e90ff;
}



.about .row>* {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* home-section */

/* partners */
.partners {
    background-color: #f1faff;
}

.partners img {
    opacity: 0.4;
    margin: 10px 15px;
    max-height: 55px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.partners img:hover {
    opacity: 0.8;
}


.partners h2 {
    color: #071e55;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.partners p {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.partners h4 {
    font-size: 17px;
    line-height: 78px;
    display: inline-block;
    font-weight: 600;
    margin-right: 15px;
    color: #071e55;
}

/* partners */

/* discover */
.discover img {
    max-width: 100%;
    border-radius: 10px;
}

.discover h4 {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

.discover p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.discover i {
    font-size: 18px;
    line-height: 18px;
    margin-right: 3px;
    color: #e52a3d;
    font-weight: 900;
}

/* discover */

/* workflow */
.workflow {
    background-color: #f1faff;
}

.workflow-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    transition: var(--main-transition);
}

.workflow-box:hover {
    transform: scale(1.010);
    transition: all 1s;
}

.workflow img {
    border-radius: 10px;
}

.workflow h4 {
    font-size: 21px;
}

.workflow p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.dropcaps-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    width: 80px;
    height: 80px;
}

.dropcaps-circle i {
    font-size: 1.6rem;
    color: #017df7;
    font-weight: 900;
}

.red {
    color: #e52f37 !important;
}

.green {
    color: #27b36a !important;
}

/* workflow */

/* Facts */
.facts {
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    opacity: 0.95;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
}

.facts h4 {
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}

.facts span {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.facts-numbers {
    transition: var(--main-transition);
}

.facts-numbers:hover {
    transform: scale(1.010);
    transition: all 1s;
}

/* Facts */

/* Saying */
.saying {
    background-color: #f1faff;
}

.saying h2 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

.saying p {
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.saying h4 {
    margin-bottom: 5px;
    color: #071e55;
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
}

.saying i {
    color: #fdcc28;
}

.saying img {
    max-width: 65px;
    border-radius: 50%;
}

/* Saying */

/* portfolio */
.portfolio {
    background-color: #fff;
}

.portfolio h2 {
    font-size: 38px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

.portfolio p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.portfolio img {
    max-width: 100%;
    border-radius: 10px;
    margin: .7rem;
    transition: all 1s;
}

.portfolio img:hover {
    filter: blur(1px);
    transform: scale(1.010);
    transition: all 1s;
}

/* portfolio */

/* team */
.team {
    background-color: #f1faff;
}

.team h2 {
    font-size: 38px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

.team p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.team img {
    max-width: 100%;
    border-radius: 10px;
    transition: all 1s;
    overflow: hidden;
}

.team img:hover {
    filter: blur(1px);
    transform: scale(1.010);
    transition: all 1s;
    overflow: hidden;
}

.team .card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    background-color: #fff;
    border: 1px solid #e5efff;
}

.team h3 {
    font-size: 1.4rem;
    color: #454545;
    letter-spacing: 1px;
    font-weight: 500;
}

.team span {
    font-size: 1.4rem;
    font-size: 1.1rem;
    font-style: italic;
}

.team span::after {
    content: '';
    width: 25%;
    height: 3px;
    background-color: #e52f37;
    display: block;
    margin: 1.5rem auto;
}

.team p {
    font-size: 1.1rem;
    margin-bottom: 1.3rem !important;

}

/* team */

/* award */
.award {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
    letter-spacing: 2px;
}

.award h2 {
    font-size: 38px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.award p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.award button {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
    letter-spacing: 1px;
    color: #fff;
    transition: var(--main-transition);
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.award button:nth-child(2) {
    border: none;
}

.award button:hover {
    color: rgb(0, 0, 0);
    background: #fff;
    border-color: #fff;
}

.award button:focus {
    box-shadow: 0px 0px 10px rgba(36, 34, 34, 0.1);
}

.award a {
    color: #fff;
    text-decoration: none;
}

.award a:hover {
    color: rgb(0, 0, 0);
}

/* award */

/* features */
.features {
    background-color: #ffffff;
}

.features i {
    color: #a9d129;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.features .blue {
    color: #50a0d2;
}

.features .orange {
    color: #fe9c24;
}

.features .redlight {
    color: #fc6a3f;
}

.features .darkgreen {
    color: #87ac34;
}


.features h2 {
    font-size: 38px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

.features h3 {
    font-size: 1.5rem;
}

.features p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* features */

/* pricing  */
.pricing {
    background-color: #f1faff;
    font-weight: 500;
    cursor: auto;
    font-family: 'Nunito', sans-serif;
}

.pricing .card-body {
    flex: 1 1 auto;
    padding: 3rem 3rem;
    transition: all 1s ease;
}

.pricing .card {
    border-radius: 10px;
}

.pricing .card:hover {
    transform: scale(1);
    transition: all 1s;
}

.pricing h3 {
    padding: 1rem;
}

.pricing h2 {
    color: #071e55;
    font-weight: 700;

}

/* pricing  */

/* questions */
.questions h3 {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    color: #071e55;
    font-weight: 700;
}

.questions p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    font-family: 'Open Sans', sans-serif;
}

/* questions */

/* contact */
.contact {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
    font-family: 'Nunito', sans-serif;
}

.contact input,
.contact textarea,
.contact select {
    border-radius: 10px;
    border: 1px solid #e5efff;
    padding: .6rem;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: #fff;

}

.contact input:focus,
.contact textarea:focus,
.contact select:focus {
    outline: green;
    border: 2px solid green;
    color: green;
    box-shadow: 0px 0px 10px rgba(36, 34, 34, 0.1);
    background-color: transparent;

}


/* contact */
/* footer */
footer {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
    font-family: 'Nunito', sans-serif;
    color: #fff !important;
}

footer i {
    color: #fff;
}

/* footer */